<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>
        h1{color:color:red;
        font-size: 100px;
        font-family: Helvetica;}
         h2{color:color:red;
        font-size: 50px;
        font-family: Helvetica;}
        #list{font-size: 20px;
        font-family: Helvetica;}
    </style>
</head>
<body>
    <h1>Hola!</h1>

    <h2>Check out the opencv applications</h2>
    <div id = 'list'>
    <ul style = "list-style-type:circle;">
    <li> <a href="/digit_recognition" >Digit Recognition</a></li>
    <li><a href="/sudoku" >Sudoku</a></li>
        </ul>
        </div>
</body>
</html>