<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sudoku</title>
    <style>h1{color:purple;
        font-size: 50px;
        font-family: Helvetica;}
        </style>
</head>
<body>
    <figure>
        <img src="{{url_for('static',filename = 'sudoku.jpg')}}"  alt="imageitis" style="width:400px;height:250px;">
        <br>
        <h1>Here's your sudoku</h1>
        <img src="{{url_for('static',filename = 'solved.jpg')}}" alt="imageiitis" style="width:400px;height:250px;">
        </figure>
</body>
</html>