<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Sudoku</title>
    <style>h1{color:red;
        font-size: 50px;
        font-family: Helvetica;}</style>
</head>
<body>


<h1>Sudoku Solver</h1>
                <form action = "/sudoku" method = "POST"
                          enctype = "multipart/form-data">
                    <input type = "file" name = "file2" />
                    <input type = "submit"/>
                                    </form>


</body>
</html>

