<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Digit</title>
    <style>h1{color:red;
        font-size: 50px;
        font-family: Helvetica;}</style>
</head>
<body>


    <h1>Digit Recognition</h1>
                <form action = "/digit_recognition" method = "POST"
                          enctype = "multipart/form-data">
                    <input type = "file" name = "file1" />
                    <input type = "submit"/>
                                    </form>


</body>
</html>

